
            
 
    <div class="col-md-12">
        <div class="container">
          <div class="row books-outer">
            <ng-container      *ngFor="let item of Productlist |filter: searchKey" >
              <div class="card col-md-3">
                <img 
                  src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}"
                  alt=""
                />
                <h5
                  style="
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100ch;
                  "
                >
                  {{ item.title }}
                </h5>
                <p>
                  <strong>{{item.price | currency: 'INR'}}</strong>
                </p>
                <button class="btn btn-primary"><mat-icon>shopping_cart</mat-icon>Add to Cart</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      
   
    
